body{
    background: fixed;
    
    padding: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:peachpuff;
}
header{
    font-size: xx-large;
font-style: italic;
text-align: center;

}
.One {
    border: 1px solid black; 
    padding: 2px;
    background-color: aliceblue;
    border-radius: 8 px;
{

